{# templates/adminBase.html.twig #}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Yummy Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>
<body>

<main>

    {% block body %}{% endblock %}
    </main>
</body>
</html>